foo\.py

koo.py

base/*.tar.gz

base/*.tar.gz.minilock

base/data/*.tar.gz.minilock

*.swo

*.swp

base/meta_data\.json

base/data/*tar.gz

owncloudScripts/p.txt

base/data_link/*

node_modules/

old_work/

contracts/\.cache/

contracts/tests/__pycache__/

docs/nohup\.out

docs/_build_html/

*.sh#

*.rst#

package-lock\.json

\.node-xmlhttprequest-sync-7308

\.#userNameUpdate\.sh

\.#package\.json

\.node-xmlhttprequest-sync-14153

eblocbroker/\.#registerCluster\.py

*.py#

contract/populus\.ini

contract/migrations/__init__\.py

contracts/populus\.ini

eblocbroker/\.node-xmlhttprequest-sync-13830

\.#main\.js

\.#l

eblocbroker/nohup\.out

contract/\.cache/v/populus/project/

\.node-xmlhttprequest-sync-27004

contract/receipt\.txt

\.node-xmlhttprequest-sync-18637

nohup\.out

slurmGuide/example/slurm\.out

slurmGuide/example/slurm\.err

slurmGuide/example/helloworldd\.txt

slurmGuide/example/hello

slurmGuide/example/completed\.txt

\.node-xmlhttprequest-sync-13965

\.node-xmlhttprequest-sync-14725

\.node-xmlhttprequest-sync-15076

\.node-xmlhttprequest-sync-15266

\.node-xmlhttprequest-sync-15558

\.node-xmlhttprequest-sync-31728

eblocbroker/ipfs\.out

miniLockPassword\.txt

venv/pyvenv\.cfg

venv/bin/activate

venv/bin/activate\.csh

venv/bin/activate\.fish

venv/bin/python

venv/bin/python3

venv/lib64

modified_date\.txt

\.node-xmlhttprequest-sync-27351

\.node-xmlhttprequest-sync-27769

\.node-xmlhttprequest-sync-30119

\.node-xmlhttprequest-sync-5486

ipfs\.out

clusterDriver\.out

\.node-xmlhttprequest-sync-8770

\.node*

eblocbroker/\.#submitIpfsJob\.py

eblocbroker/\.#getClusterInfo\.py

bash_scripts/\.#slurmScript\.sh

\.#driverFunc\.py

contract/logs/geth-20180416-110301-temp-stdout\.log

contract/logs/geth-20180416-110301-temp-stderr\.log

contract/build/contracts\.json

eblocbroker/\.#address\.json

eblocbroker/#address\.json#

contract/\.pytest_cache/v/populus/project/compiled_contracts

contract/\.cache/v/cache/lastfailed

contract/\.pytest_cache/v/cache/lastfailed

contract/\.pytest_cache/v/cache/nodeids

eblocbroker/venv/

dd\.sh

\.#runIPFS\.sh

contract/\.pytest_cache/v/populus/project/compiled_contracts_mtime

contract/tests/\.#test\.py

eblocbroker/test/lib/python3\.5/weakref\.py

eblocbroker/test/lib/python3\.5/

eblocbroker/test/include/

eblocbroker/test/bin/

docs/convert/get-pip\.py

eBlocBroker/

dd\.txt

dd\.py

orcid\.out

screenlog\.0

\._Driver\.py

generateTest/nasEudat/password\.txt

generateTest/nasEudat/ipfs/NPB3\.3-SER/

docs/nohup.out

whisper/work/

bootnode\.key

contract/contracts/\.pytest_cache/v/cache/nodeids

contract/\.pytest_cache/

generateTest/eudatNasa/hashOutput\.txt

generateTest/nasEudat/hashOutput\.txt

owncloudScripts/exampleFolderToShare/example/hellohello

owncloudScripts/\.tar\.gz

generateTest/eudatNasa/0x4e4a0750350796164d8defc442a712b7557bf282\.txt

generateTest/eudatNasa/clientOutput\.txt

scripts/dum\.txt

gdrive/exampleFolderToShare/example/subFile

generateTest/testIpfs/hashOutput\.txt

generateTest/testIpfs/test_DAS2-fs1-2003-1\.swf

generateTest/eudatNasa/ipfs/run\.sh

generateTest/ipfs/run\.sh

generateTest/test_DAS2-fs1-2003-1\.swf

generateTest/testNasEudat/hashOutput\.txt

generateTest/testNasEudat/0x4e4a0750350796164d8defc442a712b7557bf282\.txt

generateTest/testNasEudat/clientOutput\.txt

generateTest/testIpfsMiniLock/hashOutput\.txt

generateTest/testIpfsMiniLock/ipfs\.tar\.gz\.minilock

generateTest/testGdrive/hashOutput\.txt

generateTest/testGdrive/clientOutput\.txt

generateTest/testGdrive/0x57b60037b82154ec7149142c606ba024fbb0f991\.txt

generateTest/testGdrive/ipfs/run\.sh

generateTest/testNasEudat/ipfs/run\.sh

generateTest/testIpfsMiniLock/clientOutput\.txt

generateTest/testIpfsMiniLock/0x398bd2a9a39637884b49b2b0930de7d83eb08a8e\.txt

generateTest/ipfs\.tar\.gz\.minilock

generateTest/ipfs\.tar\.gz

generateTest/testIpfs/clientOutput\.txt

generateTest/testIpfs/0x2fe8fb59f6e24703f8732fcd38f4ac9e8f56d8aa\.txt

workflow/\.pytest_cache/

contract/\.history

contract/build/

DAG/labels\.png

DAG/job\.dot

DAG/dot\.txt

eBlocBroker\.egg-info/

owncloudScripts/193f45652336791cef640eef9ee9cad9/

contract/reports/coverage-170719\.json

eblocbroker/\.submit_job\.py\.swp

whisper/data.txt

gdrive/exampleFolderToShare/sourceCode/.dataFiles.json

gdrive/dataFiles.json

gdrive/exampleFolderToShare/dataFiles.json

todo.txt

gdrive/exampleFolderToShare/sourceCode/dataFiles.json

._eBlocBroker

._README.md

contract/abi.json

doo.py

gdrive/output.log

end_code_flymake.py

owncloudScripts/exampleFolderToShare/data1/output.file

owncloudScripts/base/data_link/
.oc.pckl

################################################ GLOBAL #################################################################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

.DS_Store
.DS,_Store?
._*
~*
*.txt~

*.js~

*.py~

*.sh~

.mypy_cache/

*.pyc

\.#*

\#*

flycheck_*

cd