asn1crypto==0.24.0
configparser==3.5.0b2
contextlib2==0.6.0.post1
cryptography==2.6.1
dbus-python==1.2.12
entrypoints==0.3
enum34==1.1.6
flake8==3.8.4
functools32==3.2.3.post2
futures==3.3.0
greenlet==0.4.15
gyp==0.1
importlib-metadata==2.0.0
ipaddress==1.0.17
keyring==18.0.1
keyrings.alt==3.1.1
msgpack==0.5.6
neovim==0.3.0
pathlib2==2.3.5
pycrypto==2.6.1
pyflakes==2.2.0
PyGObject==3.34.0
Pymacs==0.25
pyxdg==0.26
scandir==1.10.0
sip==4.19.18
six==1.12.0
trollius==2.0.1
typing==3.7.4.3
zipp==1.2.0
